<app-header>
</app-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" >
    <ion-text color="primary">

      <h4>
Detección del cáncer de mama

      </h4>
    </ion-text>
      <ion-text color="secondary">
Dignosticar el cáncer a tiempo le dará más oportunidad de un tratamiento oportuno aumentando la probabilidad de recuperación total
      </ion-text>
</div>
<br>
<div class="ion-text-justify">
        
  <ion-text>
Hacer énfasis en la detección temprana del <a routerLink ="/information"> cáncer de mama </a> es muy importante
porque a diferencia del cáncer de cuello uterino no es posible prevenirlo,
solo exite el cuidado previo o <a routerLink="/habitos"> factores protectores</a> para disminuir las probabilidades de que se desarrolle.
  </ion-text>
      <br>
      <br>
 <ion-text>
    Para detectar el <a routerLink ="/information"> cáncer de mama </a> hay una serie de exámenes de detección los cuales pueden descubrir el cáncer incluso antes de que empiece a presentar síntomas, por lo general en los exámenes de rutina los cánceres de mama suelen ser pequeños y están confinados en la mama y el tratamiento suele ser exitoso.
      </ion-text>
  </div>
  <br>
  <img  src="/assets/images/deteccion.jpg"/>

  <div class="ion-text-center" >
    <ion-text color="secondary">
      <h5>
Autoexamen de las mamas
      </h5>
  </ion-text>
</div>

<img   src="/assets/images/Autoexamen1.jpg"/>
<ion-grid fixed>
  
  <ion-row>
    <ion-col size="4">         
          <img class="cards" src="/assets/images/Autoexamen2.jpg"/>
              
    </ion-col>
    <ion-col size="4">
        
        <img class="cards" src="/assets/images/Autoexamen3.jpg"/>
 
  </ion-col>
  <ion-col size="4">
    
      <img class="cards" src="/assets/images/Autoexamen6.jpg"/>

</ion-col>
<ion-col size="4">
      
  <img class="cards" src="/assets/images/Autoexamen5.jpg"/>
</ion-col>
<ion-col size="6">
      
  <img class="cards2" src="/assets/images/Autoexamen4.jpg"/>
</ion-col>

 </ion-row>
</ion-grid>
<img src="/assets/images/Autoexamen7.jpg"/>
<img src="/assets/images/Autoexamen8.jpg"/>

</ion-content>

<app-footer>
</app-footer>
