<app-header>

</app-header>

<ion-content class="ion-padding">

  <div class="ion-text-center" >
    <ion-text color="primary">
      <h4>
        Cáncer de cuello uterino
       </h4>
    </ion-text>
  </div>

  <div class="ion-text-justify" >
    <ion-text>
      El cuello uterino es la parte final del útero o matriz expuesta en el contacto íntimo de las relaciones sexuales a diferentes microorganismos, entre ellos el virus del papiloma humano (VPH) considerado un factor necesario en la formación del  cáncer de cuello uterino. 
      <br>
      Generalmente, el sistema inmunitario del cuerpo lo elimina, sin embargo, en un pequeño porcentaje de personas el virus sobrevive durante años, contribuyendo al proceso que hace que algunas células del cuello uterino se conviertan en células cancerosas        </ion-text>
  </div>
  <div class="ion-text-center" >
    <ion-text color="primary">
      <h4>
       ¿Qué personas tienen mayor riesgo a desarrollarlo?
                </h4>
    </ion-text>
  </div>

  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Mujeres infectadas con el virus del Papiloma Humano (VPH). </ion-card-subtitle>
    <ion-card-content>
      <img src="/assets/images/riesgo6.jpg"/>
    </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">    Mujeres con inmunodeficiencia.

      </ion-card-subtitle>
    <ion-card-content>
      <img src="/assets/images/riesgo7.jpg"/>
    </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center" >
Se presenta de manera más frecuente en mujeres entre los 35 y 50 años.
         </ion-card-subtitle>
    <ion-card-content>
      <img src="/assets/images/riesgo8.jpg"/>
    </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Predisposición genética (historial de cáncer de cuello uterino).
         </ion-card-subtitle>
    <ion-card-content>
      <img src="/assets/images/riesgo4.jpg"/>
    </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-justify">   	Dieta no equilibrada y poco saludable, consumo de tabaco, tener varias parejas sexuales, no usar preservativo en las relaciones sexuales.

         </ion-card-subtitle>
    <ion-card-content>
      <img src="/assets/images/riesgo5.jpg"/>
    </ion-card-content>
    </ion-card-header>
  </ion-card>


    <br>
    <div class="ion-text-justify">
      <ion-text>
       El cáncer de cuello uterino está relacionado con factores de riesgo que podrían ser modificables en la medida en que cada persona los conozca, mejore sus hábitos y se comprometa con su autocuidado. 
       <a routerLink ="/prevencioncuello"> conoce ¿cómo prevenir el cáncer de cuello uterino?  </a>
      </ion-text>

    </div>
    <br>
    <img src="/assets/images/Informacion1.jpg"/>
    <br>

    <div class="ion-text-center" >
      <ion-text color="primary">
        <h6>
    Conoce más sobre
        </h6>
      </ion-text>
    </div>
     <div class="ion-text-center">
      <a routerLink ="/habitos"> Factores protectores del cáncer de cuello uterino aquí  </a>      
      </div>
      <div class="ion-text-center ion-margin-top">
        <a routerLink ="/prevencioncuello"> ¿Cómo prevenir el cáncer de cuello uterino? aquí  </a>      
        </div>
        
          <div class="ion-text-center ion-margin-top">
            <a routerLink ="/information">  ¿Qué es el cáncer de mama? aquí</a>      
            </div>

</ion-content>

<app-footer>

</app-footer>
