<app-header>

</app-header>
<ion-content class="ion-padding">
  <div class="ion-text-justify">
    <ion-text>
      Bi es un proyecto que busca desarrollar herramientas basadas en la impedancia bioeléctrica que den soporte al diagnóstico de
      <a routerLink ="/information"> cáncer de mama</a> y <a routerLink ="/information2"> cáncer de cuello uterino</a> para que aumente la probabilidad de un tratamiento oportuno y recuperación total de la enfermedad.
    </ion-text>
    <br> <br>
    <ion-text>
      Ambos cánceres cada año cobran la vida de muchas mujeres colombianas y es muy importante
       encontrar nuevas técnicas que faciliten su detección temprana, por eso desde la Universidad
        Nacional de Colombia sede Manizales con el apoyo del ministerio de  la Ciencia, la Tecnología
        y la Innovación se puso en marcha crear un prototipo basado en la impedancia bioelectrica
         que detecte en estados tempranos el <a routerLink ="/information"> cáncer de mama</a> y <a routerLink ="/information2"> cáncer de cuello uterino</a>.
    </ion-text>
  </div>


</ion-content>
<app-footer>

</app-footer>