<app-header></app-header>

<ion-content class="ion-padding">
    <ion-img class="Portadas" src="/assets/images/Psalud.png"></ion-img>
<br>
    <div class="ion-text-justify" >
      <ion-text>
        Desde la infancia hasta la edad adulta es imprescindible
        adoptar hábitos sencillos para mantener una buena salud
        visual, bucal y auditiva, y por consiguiente, tener una
        mejor calidad de vida. Acciones sencillas como llevar una
        alimentación equilibrada, consultar a un especialista con
        regularidad como medida preventiva y de control, tener
        buenos hábitos de higiene, entre otros, pueden contribuir a
        prevenir a futuro una enfermedad derivada del mal cuidado
        de estos tres sentidos. 
      </ion-text>
      
    </div>
      <div class="ion-text-center">
        <ion-text  color="secondary">
               <h4 >Salud Visual</h4>
              </ion-text>
      </div>
      <div class="ion-text-justify">
               <ion-text >Gran parte de las enfermedades responsables de la
                discapacidad visual y ceguera se pueden prevenir o
                tratar fácilmente. A continuación se presentan algunas
                recomendaciones: </ion-text>
              </div>
              <br>
      <div class="ion-text-justify" >
        <ion-text>
          • Tomar medidas de protección frente al sol y limitar el
      tiempo de exposición a este, a fin de prevenir o retardar
      la aparición y progreso de las cataratas.
      </ion-text>
      <br>
      <ion-text>
      • Procurar comprar gafas o lentes con protección para
      los rayos ultravioleta, en lugares seguros y confiables.
    </ion-text>
    <br>
    <ion-text>
      • Realizar un examen visual anualmente a fin de detectar
      si existe un problema visual.</ion-text>
     
<br>
<ion-text>
      • Mantener una dieta balanceada.</ion-text>
     
        <br>
        <ion-text>
      • Evitar frotarse los ojos dado que puede ocasionar
      infecciones, lesiones, ojos rojos e incluso deformidad de
      la córnea. Lo mejor cuando exista molestia es cerrar y
      abrir los ojos o aplicar lágrimas artificiales.
    </ion-text> <br>
    <ion-text>
      • En caso de tener períodos largos frente a las pantallas,
      descansar cada 15 minutos durante cinco minutos,
      parpadeando y fijando la mirada al punto más lejano posible.</ion-text>
<br>
<ion-text>
      • No se automedique ni adopte prácticas que afecten su
      salud visual.</ion-text>
      </div>
    
  
  
    <div class="ion-text-center">
      <ion-text  color="secondary">
             <h4 >Salud auditiva</h4>
            </ion-text>
    </div>
    <div class="ion-text-justify">
             <ion-text >
              Algunas estrategias sencillas pueden ayudar a prevenir
problemas de audición 
            </ion-text>
            </div>
                 
<br>
<div class="ion-text-justify">
<ion-text>
  • Reduzcir la exposición a ruidos fuertes en el trabajo o
  en las actividades cotidianas.  
   </ion-text>
             <br>
   <ion-text>
    • Limitar el tiempo de uso de aparatos de audio diariamente    
  </ion-text>
                
    <br>
    <ion-text>
      • Consultar a un especialista en caso de tener dificultad
      para oír sonidos agudos como el despertador, el
      timbre o teléfono, o en caso de tener problemas para
      mantener conversaciones en ambientes ruidosos.
    </ion-text>
                 
      <br>
      <ion-text>
        • Evitar introducir elementos extraños en el oído
            </ion-text>
                    
        <br>
        <ion-text>
          • Procurar alejarse de las fuentes de sonido como
          altavoces u obras de construcción en lugares públicos.
        </ion-text>
                      
          <br>
    </div>
    <br>

    <div class="ion-text-center">
      <ion-text  color="secondary">
             <h4 >Salud bucal</h4>
            </ion-text>
    </div>
    <div class="ion-text-justify">
             <ion-text >
              A continuación se presentan algunas recomendaciones
              para optimizar la salud bucodental:
            </ion-text>
            </div>
                 
<br>
<div class="ion-text-justify">
<ion-text>
  • Reducir el consumo de azúcares y mantener una
  alimentación equilibrada para prevenir la caries dental
  y la pérdida prematura de dientes. 
</ion-text>
<br>
<ion-text>
  •  Procurar acabar con el nocivo hábito de fumar y busque reducir
  el consumo de alcohol, dado que esto disminuye el
  riesgo de pérdida de dientes, periodontopatías y
  cánceres de la cavidad bucal.
</ion-text>
<br>
<ion-text>
  • Cepíllarse los dientes tres veces al día, luego de cada
  comida, con una pasta dental que contenga fluoruro.
  Posteriormente, limpiar los dientes con un hilo dental.
</ion-text>
<br>
<ion-text>
  • Visitar al odontólogo regularmente. 

</ion-text>

</div>
<br>
      
      <div class="ion-text-center " >
        <a routerLink ="/toxico"> Conoce más factores protectores aquí  </a>      
        </div>
</ion-content>

<app-footer></app-footer>