<app-header>

</app-header>
<ion-content class="ion-padding">
    <ion-grid fixed>
      
          <div class="ion-text-center" >
          <ion-text color="secondary">
            <h4>
              Cáncer de mama
            </h4>
          </ion-text>
        </div>
        <div class="ion-text-justify" >
          <ion-text>
            El cáncer de mama es un proceso en el que células sanas de la glándula mamaria  se degeneran y se transforman en tumorales, multiplicándose posteriormente hasta constituir el tumor.

          </ion-text>
          
        </div>
        <div class="ion-text-center" color="primary">
          <ion-text color="secondary">
            <h4>
             ¿Qué personas tienen mayor riesgo a desarrollarlo?
                      </h4>
          </ion-text>
        </div>
        
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Mujeres mayores de 40 años </ion-card-subtitle>
          <ion-card-content>
            <img src="/assets/images/riesgo1.jpg"/>
          </ion-card-content>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Menstruación precoz, antes de los 11 años y menopausia. tardía, mayor de 50 años. </ion-card-subtitle>
          <ion-card-content>
            <img src="/assets/images/riesgo2.jpg"/>
          </ion-card-content>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center" >
              Mujeres que no lactan o lo hicieron tardíamente, después de los 34 años.
               </ion-card-subtitle>
          <ion-card-content>
            <img src="/assets/images/riesgo3.jpg"/>
          </ion-card-content>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">Predisposición genética (historial de cáncer de mama).
               </ion-card-subtitle>
          <ion-card-content>
            <img src="/assets/images/riesgo4.jpg"/>
          </ion-card-content>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-justify"> Dieta no equilibrada y poco saludable,	sedentarismo, obesidad,	consumo excesivo de alcohol y/o sustancias psicoactivas, consumo de tabaco, relaciones interpersonales y familiares problemáticas, emociones retenidas y/o no resueltas
               </ion-card-subtitle>
          <ion-card-content>
            <img src="/assets/images/riesgo5.jpg"/>
          </ion-card-content>
          </ion-card-header>
        </ion-card>

       
        <br>
        <div class="ion-text-justify">
          <ion-text>
           El cáncer de mama está relacionado con factores de riesgo que podrían ser modificables en la medida en que cada persona los conozca, mejore sus hábitos y se comprometa con su autocuidado. 
           <a routerLink ="/habitos"> Conoce los factores protectores del cáncer de mama </a>

          </ion-text>
  
        </div>
        <br>
      <img src="/assets/images/Informacion1.jpg"/>
<br>

<div class="ion-text-center" >
  <ion-text color="secondary">
    <h6>
Conoce más sobre
    </h6>
  </ion-text>
</div>

<div class="ion-text-center " >
  <a routerLink ="/habitos"> Factores protectores del cáncer de mama aquí  </a>      
  </div>
  <div class="ion-text-center ion-margin-top">
    <a routerLink ="/deteccionmama"> ¿Cómo detectar el cáncer de mama? aquí  </a>      
    </div>
      <div class="ion-text-center ion-margin-top">
        <a routerLink ="/information2">  ¿Qué es el cáncer de cuello uterino? aquí</a>      
        </div>
        
  
    </ion-grid>
  </ion-content>
<app-footer>

</app-footer>