<app-header titulo="Alimentación"></app-header>

<ion-content class="ion-padding">
<ion-img class="Portadas" src="/assets/images/Palimentacion.png">

</ion-img>

<div class="ion-text-justify">
        
  <ion-text>
    La alimentación hace referencia a los nutrientes necesarios para que el cuerpo pueda realizar todas sus funciones y es fundamental para una buena salud, ya que los nutrientes son necesarios para la formación, construcción y reparación de los tejidos. </ion-text>
<ion-text>
  Para tener una dieta equilibrada la alimentación debe aportar los nutrientes necesarios para el organismo, estos  deben ser repartidos y variados, es decir,  ser suficientes para mantener una buena salud; por su parte, la dieta debe ser adaptada para cada edad,  talla,  sexo y  actividad física que realiza la persona.
</ion-text>

  </div>
<div class="ion-text-center" >
  <ion-text color="secondary">
    <h5>
Recomendaciones para una buena alimentación
</h5>
  </ion-text>
</div>

    <ion-grid>
        
    
        <ion-row>
    
          <ion-col size="12">
            
              
              <ion-card>
                
                <img class="alimentacion" src="/assets/images/AlimentacionBalanceada.jpg"/>
                <ion-card-header>
                  
                </ion-card-header>
                <ion-card-content>
                   
                  <div class="ion-text-justify" >
                    <ion-text >
                      La alimentación es más saludable y nutritiva cuando se incluyen diferentes tipos de alimentos en cada comida. 
                      Todos los días coma frutas, verduras, cereales integrales,
                      leguminosas, lácteos bajos en grasa, carnes magras y huevos.
                      Combine colores y sabores.      
                   </ion-text>
                   
                  </div>
                   
                </ion-card-content>
              </ion-card>
          </ion-col>
      
    
      
        <ion-col size="12">
          <ion-card >
           
            <img class="alimentacion" src="/assets/images/ComidasRapidas.jpg"/>
            <ion-card-header>
            
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-justify" color="primary">
                <ion-text >
                 
    El consumo habitual de grasas saturadas es perjudicial para la salud.
   Las grasas saturadas se encuentran en la  manteca, mantequilla y carnes rojas, así como 
    en productos de pastelería, galletas y postres.
     El consumo frecuente de comidas rápidas también afecta su salud;
      los alimentos como pizza, hamburguesas, papas fritas, empanadas y pollo frito 
      son alimentos altamente calóricos, abundantes en grasa y pobres en nutrientes y fibra.  
             
                </ion-text>
              
            </div>
            
            </ion-card-content>
          </ion-card>
        </ion-col>
     
      
    
      
        <ion-col size="12">
          <ion-card >
           
            <img class="alimentacion" src="/assets/images/FrutasYVerduras.jpg"/>

            <ion-card-header>
              
            </ion-card-header>

            <ion-card-content>
              <div class="ion-text-justify" color="primary">
                <ion-text >
              
 Consumir 3 frutas y 2 verduras de diferentes colores diariamente, 
 mejora su salud y su nutrición. Las frutas (mango, guayaba, melón, naranja, durazno),
  aportan vitaminas A y C, necesarias para el sistema inmunológico, y para la visión. 
  También aportan fibra natural, necesaria en la digestión. Las verduras son ricas en vitaminas y algunos minerales indispensables para activar la mente, proteger el corazón, mantener el rendimiento físico y el sistema nervioso.
  </ion-text>
  </div>

               </ion-card-content>
          </ion-card>
        </ion-col>
    
        
        <ion-col size="12">
          <ion-card >
           
            <img class="alimentacion" src="/assets/images/AzucarYSal.jpg"/>

            <ion-card-header>
             
            </ion-card-header>

            <ion-card-content>
              <div class="ion-text-justify" color="primary">
                <ion-text >
          
Las bebidas azucaradas son las  gaseosas, refrescos y bebidas a base de frutas a las cuales
 se les ha agregado azúcar.  Las bebidas azucaradas aportan solamente calorías que carecen de nutrientes.
  <br>
  No utilice sal en la mesa para agregar a las comidas.
   Limite el uso de  salsas de tomate o mayonesa y evite los alimentos elaborados con alto 
   contenido de sodio como los enlatados, embutidos,  carnes frías y caldos de carne o gallina.
        </ion-text>
        </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    
    
      </ion-grid>
     <br>
      
      <div class="ion-text-center " >
        <a routerLink ="/actividad"> Conoce más factores protectores aquí  </a>      
        </div>
       

</ion-content>
<app-footer></app-footer>