<app-header></app-header>

<ion-content class="ion-padding">
    <ion-img class="Portadas" src="/assets/images/Pactividad.png"></ion-img>

    
<div class="ion-text-justify">
<ion-text>
    La actividad física es cualquier movimiento corporal producido por los músculos esqueléticos que exija gasto de energía. 
</ion-text>
<ion-text>
    Realizar actividad física disminuye el riesgo de padecer enfermedades, permite controlar el sobrepeso, aumenta la energía y ayuda a dormir mejor a quien la realiza, es por eso que es importante estar motivado y querer hacer actividad física, buscando realizar actividades que le gusten, le diviertan y si es posible involucre personas que la motiven a lograr las metas que desea.

</ion-text>
</div>
<div class="ion-text-center" >
  <ion-text color="secondary">
    <h5>
A las personas adultas se les recomienda
    </h5>   
   </ion-text>
</div>

<div class="ion-text-center" >
    <ion-text color="primary">
      <h5>
Realizar al menos dos horas y media de actividad física moderada a la semana      </h5>
    </ion-text>
  </div>
  <div class="ion-text-justify">
    <ion-text>
Estas actividades aumenta un poco la respiración, y acelera de manera perceptible el ritmo cardiaco, sin embargo se puede mantener una conversación. Algunos ejemplos de actividad física moderada son:

    </ion-text>
  </div>
    
<ion-grid fixed>
  
  <ion-row>

    <ion-col size="4">
      
          
          <img (click)="control1()" class="cards" src="/assets/images/actividad2.jpg"/>
      
    </ion-col>
    <ion-col size="4">

        
        <img (click)="control2()" class="cards" src="/assets/images/actividad1.jpg"/>
        

  </ion-col>
  <ion-col size="4">

      
      <img (click)="control3()" class="cards" src="/assets/images/actividad4.jpg"/>
  
</ion-col>

 </ion-row>
</ion-grid>


<div class="ion-text-center" >
  <ion-text color="primary">
    <h5>
O realizar al menos 75 minutos de actividad física vigorosa o fuerte a la semana   </h5>
  </ion-text>
</div>
<div class="ion-text-justify">
  
  <ion-text>
En este tipo de actividades se aumenta sustancialmente la respiración y el ritmo cardiaco. Algunos ejemplos de actividad física vigorosa son:
  </ion-text>
</div>
<ion-grid fixed>
  
  <ion-row>

    <ion-col size="4">
      
        
          <img (click)="control4()" class="cards" src="/assets/images/actividad6.jpg"/>
              
    </ion-col>
    <ion-col size="4">


        
        <img (click)="control5()" class="cards" src="/assets/images/actividad3.jpg"/>
 
  </ion-col>
  <ion-col size="4">
      
  
      
      <img (click)="control6()" class="cards" src="/assets/images/actividad5.jpg"/>

</ion-col>

 </ion-row>
</ion-grid>



<div class="ion-text-center" >
  <ion-text color="primary">
    <h5>
Realizar actividades de fortalecimiento al menos 2 veces por semana

    </h5>   
   </ion-text>
</div>
<div class="ion-text-justify">
  
  <ion-text>
Las actividades de fortalecimiento son diferentes y complementarias a las actividades mencionadas anteriormente. 
<br>

Estas actividades le ayudan a mantener un peso saludable y evita la pérdida ósea, por ejemplo:  
  </ion-text>
</div>
<ion-grid fixed>
  
  <ion-row>

    <ion-col size="6">
      
        
          <img (click)="control7()" class="cards2" src="/assets/images/actividad7.jpg"/>
              
    </ion-col>
    <ion-col size="6">


        
        <img (click)="control8()" class="cards2" src="/assets/images/actividad8.jpg"/>
 
  </ion-col>
  

 </ion-row>
</ion-grid>



<div class="ion-text-center" >
  <ion-text color="secondary">
    <h5>
En los menores de 18 años 
    </h5>   
   </ion-text>
</div>

<ion-grid fixed>
  
  <ion-row>
    <ion-col size="4">
        
      <img  src="/assets/images/actividad9.jpg"/>

</ion-col>

    <ion-col size="8">
      <div class="ion-text-justify">
  
        <ion-text>
      Se recomienda realizar 1 hora diaria de actividad física con el fin de mejorar y fortalecer sus funciones cardiorespiratorias, musculares y la salud osea.  
      
        </ion-text>
         </div>
                      
    </ion-col>
    <div class="ion-text-justify">

      <ion-text>
    Pueden realizar juegos y deportes como practicar fútbol, voleibol, natación, baile, etc. 
        
          </ion-text>
    </div>
</ion-row>
</ion-grid>

  
    
<div class="ion-text-center" >
  <ion-text color="secondary">
    <h5>
En los los mayores de 60 años 
    </h5>   
   </ion-text>
</div>

<ion-grid fixed>
  
  <ion-row>
    

    <ion-col size="8">
      <div class="ion-text-justify">
  
        <ion-text>
      Se recomienda realizar dos horas y media de actividad física semanalmente; las actividades deben ser similares a las de un adulto, sin embargo en el caso de no poder realizar las actividades con esa intensidad, se recomiendan hacer sesiones de 10 minutos.  
         </ion-text>
        
      </div>
                      
    </ion-col>
    <ion-col size="4">
        
      <img  src="/assets/images/actividad10.jpg"/>

</ion-col>
    <div class="ion-text-justify">
  
      <ion-text>
Estar activo fisicamente le ayuda a prevenir enfermedades, mejorar la fuerza y la independencia para realizar las tareas diarias.          
          </ion-text>
    </div>
    

 </ion-row>
</ion-grid>
<br>
      
      <div class="ion-text-center " >
        <a routerLink ="/salud"> Conoce más factores protectores aquí  </a>      
        </div>

</ion-content>

<app-footer>
    
</app-footer>

