<app-header>

</app-header>

<ion-content class="ion-padding">

    <ion-img class="Portadas" src="/assets/images/PEvitarHabitos.png"></ion-img>

   
      <div class="ion-text-justify">
        
        <ion-text>
            El consumo de sustancias como alcohol, cigarrillo o sustancias psicoactivas no benefician a nuestro organismo sino que por el contrario van deteriorando su buen funcionamiento. Si el consumo de estas sustancias es un hábito, su cuerpo se ha ido acostumbrado a ellas y en algunos casos se  genera adicción.        </ion-text>
      </div>
          <img src="/assets/images/toxico.jpg"/>

      <div class="ion-text-center" >
        <ion-text color="secondary">
          <h5>
Recomendaciones para abandonar un hábito tóxico
    </h5>
        </ion-text>
      </div>
      <div class="ion-text-justify">
        <ion-text>
          Debe reconocer que este hábito le está dañando, o está siendo perjudicial para su vida.
        <br>
            Analice todos los beneficios que traerá a su vida este nuevo cambio y cada vez que deje de hacer ese hábito tóxico recompense a su cuerpo por ejemplo con su comida favorita.
        <br>
            Encuentre maneras saludables de lidiar con el estrés, como dar un paseo o hablar con un amigo.     
        <br>
            Dedíquele  tiempo al deporte o alguna actividad que le ayude a mejorar su estado de ánimo, como tocar un instrumento, hacer repostería, tejer, entre otros.  
              </ion-text>
    </div>
    <br>
      
    <div class="ion-text-center " >
      <a routerLink ="/alimentacion"> Conoce más factores protectores aquí  </a>      
      </div>
        </ion-content>
<app-footer>
    
</app-footer>