<app-header>

</app-header>

<ion-content class="ion-padding">
 
  <div class="ion-text-center" >
    <ion-text color="primary">

      <h4>
Prevención del cáncer de cuello uterino

      </h4>
</ion-text>
</div>    
<ion-row>
  <ion-col size="8">
  <div class="ion-text-justify">
        
    <ion-text>
      La infección por el virus del papiloma humano (VPH) es el principal factor de riesgo para desarrollar el cáncer de cuello uterino, es por eso importante conocer qué es y cómo puede prevenirse este virus.  
      </ion-text>
 
    </div>
    </ion-col>

    <ion-col>
      <img   src="/assets/images/virus.jpg"/>
    </ion-col>
    </ion-row>

  
    <div class="ion-text-center" >
      <ion-text color="secondary">
  
        <h5>
¿Qué es el virus del papiloma humano y cómo se transmite?  
        </h5>
  </ion-text>
  </div>  
  <div class="ion-text-justify">
 
        <ion-text>
          El virus del papiloma humano (VPH) es un grupo de virus, que comúnmente son los virus de trasmisión sexual más comunes, gran parte de la población sexualmente activa se ha infectado alguna vez con estos virus o se infectará a lo largo de su vida 
        </ion-text>   
    <ion-text>
        Generalmente el virus es eliminado por el sistema inmunitario de las personas y cuando no desaparece puede causar verrugas genitales y en algunos casos cáncer como el de vagina, ano, cuello uterino, entre otros. Los tipos de VPH que causan las verrugas genitales no son los mismos que pueden causar el cáncer

      </ion-text>
 
    </div>
   <div class="ion-text-center" >
      <ion-text color="secondary">
  
        <h5>
¿Cómo prevenir el Virus del Papiloma Humano (VPH)
        </h5>
  </ion-text>
</div> 
<div class="ion-text-center" >
  <ion-text color="primary">
    <h5>
1. Vacunación    </h5>
</ion-text>
</div> 

  <div class="ion-text-justify">
        
    <ion-text>
      La vacuna contra el Virus del Papiloma Humano es segura y eficaz, la distribuye el Ministerio de Salud y Protección Social de Colombia.          </ion-text>
      <ion-text>
        El esquema de vacunación contempla la aplicación gratuita de la vacuna para las niñas y adolescentes escolarizadas entre 9 y 17 años en dos dosis, la segunda 6 meses después de la primera

      </ion-text>
 
    </div>

<div class="ion-text-center" >
  <ion-text color="primary">
    <h5>
2. Vida sexual responsable    </h5>
</ion-text>
</div> 


    <div class="ion-text-justify">

      <ion-text>
        La salud sexual es la manera en que puede disfrutar plenamente de la sexualidad teniendo
         un bienestar físico, psicológico y sociocultural, aportando beneficios para su salud 
         y una buena calidad de vida para usted y su pareja.
        </ion-text>
      
      </div>             
  
    <img  class="imga" src="/assets/images/sexualidad.jpg"/>


  <div class="ion-text-justify">
    <ion-text>
      Para tener una sexualidad responsable, usted debe cuidarse para evitar el contagio con enfermedades de trasnmisión sexual.
      La mejor forma de prevenir el contagio de estas enfermedades es el uso del preservativo,  femenino o mascusculino además se recomienda el uso de la doble protección. 
        </ion-text>
  </div>
  <br>

  <img   src="/assets/images/dobleProtección.png"/>

</ion-content>
<app-footer>

</app-footer>