<ion-header class="ion-no-border">
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-img class="centro" src="/assets/images/trivialogo.png"></ion-img> 

    </ion-toolbar>
</ion-header>


<ion-content >
    <ion-grid class="home">
        <ion-row align-items-start>
            <ion-col align-self-center>
                <img  src="../../../assets/images/triviaportada.jpg" />
                <ion-button expand="block" fill= "outline" (click)="start()">Ponte a Prueba</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer>
    
</app-footer>