<app-header titulo="Prevención"></app-header>
<ion-content class="ion-padding">

  <ion-grid fixed>
    <div class="ion-text-center" >
      <ion-text color="primary">
        <h4>
Factores protectores del cáncer de mama y cuello uterino
        </h4>
      </ion-text>
    </div>

    <img src="/assets/images/+cuidados.png"/>

    <div class="ion-text-justify">
      <ion-text>
       
      Los hábitos de vida saludable son uno de los factores protectores 
      frente al <a routerLink ="/information"> cáncer de mama </a> y <a routerLink ="/information2"> cáncer de cuello uterino</a>, ya que disminuyen la probabilidad 
de desarrollar estos cánceres y contribuyen a mantener una buena calidad de vida.
<br> 
Algunos hábitos de vida saludables son:
      </ion-text>
      
    </div>
  

  </ion-grid>
    
    <ion-grid fixed>
      
      <ion-row>

        <ion-col size="6">
          
            
            <ion-card routerLink="/alimentacion">
              
              <img class="cards" src="/assets/images/Ealimentacion.png"/>
             
            </ion-card>
        </ion-col>

    
      <ion-col size="6">
        <ion-card routerLink="/actividad">
        
          <img class="cards" src="/assets/images/actividad.png"/>
       
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/salud" >
        
          <img class="cards" src="/assets/images/visual.png"/>
  
        
        </ion-card>
      </ion-col>
      
      
      <ion-col size="6">
        <ion-card routerLink="/toxico">
        
          <img class="cards"  src="/assets/images/tabaco.png"/>
       
          
        </ion-card>
      </ion-col>
    </ion-row>


    </ion-grid>
    
 

 

</ion-content>

<app-footer>
  
</app-footer>